VITE_API_URL=http://localhost:5055
VITE_MAPBOX_TOKEN=your_mapbox_public_token_here
VITE_CLERK_PUBLISHABLE_KEY=your_clerk_publishable_key_here
FACEPP_API_KEY=C3qGJGV8v2M9T62mG3S40iM8IyRmGjzk
FACEPP_API_SECRET=lk9Dpo-Z9uDIzc6IeAp-Lh94N_r3VqYT